footer {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #ffffff;
  font-family: pt -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* Verdana, Geneva, Tahoma, sans-serif; */
  /* "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.showcase::after {
  content: "";
  height: 45vh;
  width: 100%;
  background-image: url(blackandwhite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 28vh;
}

.content {
  position: absolute;
  display: grid;
  grid-template: 1fr;
  z-index: 1;

  /* width: 500px;
  height: 350px; */
  text-align: center;
  transition: all 500ms;
}

.content .title {
  font-size: 48px;
  margin-top: 8px;
}

.media-icon {
  font-size: 170px;
}

.content .text {
  font-size: 20px;
  line-height: 36px;
  margin-top: 8px;
}

.about {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 30px 16px;
}

.container2 {
  max-width: 50%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.fa-dice-d20 {
  font-size: 200px;
}

.grid-4 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.center {
  text-align: center;
  margin: auto;
}

.left {
  text-align: left;
  line-height: 20px;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

.top-nav p {
  margin: 0;
  text-align: right;
}

.top-nav {
  padding: 10px;
}

.top-nav a {
  color: #f4f4f4;
}

.app_picture {
  max-width: 100%;
  height: auto;
}

.hover:hover {
  background: #353b48;
}

.hover2:hover {
  background: #d1d8e0;
}

a {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.small_icon {
  margin-left: 10px;
  margin-right: 10px;
}
.contact-links {
  letter-spacing: 20px;
}

/* Small Screens */

@media (max-width: 560px) {
  .showcase::after {
    height: 35vh;
  }

  .content {
    top: 5%;
    margin-top: 8px;
    margin-left: -150px;
    width: 300px;
  }

  .fa-dice-d20 {
    font-size: 120px;
  }

  .media-icon {
    font-size: 110px;
  }

  .content .title {
    font-size: 30px;
    margin-top: 8px;
  }

  .content .text {
    font-size: 15px;
    line-height: 20px;
    margin-top: 8px;
  }

  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-gap: 0;
  }

  .description {
    font-size: 0;
  }
}

@media (max-width: 350px) {
  .fa-dice-d20 {
    font-size: 100px;
  }

  .media-icon {
    font-size: 90px;
  }

  .content .title {
    font-size: 25px;
    margin-top: 5px;
  }
}
